.Button{
    display: flex;
}

.Button .btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;

    color: white;
    font-size: 1.5rem;
    cursor: pointer;

}

.Button .add {
    background: #37b24d;
}

.Button .add:hover {
    background: #40c057;
}

.Button .remove {
    background: #f03e3e;
}

.Button .remove:hover {
    background: #fa5252;
}